# dependencies
node_modules/

# next.js
.next/
out/

# python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# env
.env
.env.local
.env.*.local

# debug
npm-debug.log*

# misc
.DS_Store
*.tgz
Thumbs.db

# IDE
.vscode/
.idea/

# package lock
package-lock.json
